root = true

[*]
indent_size = 2
indent_style = space
insert_final_newline = true

[secrets/*]
insert_final_newline = false

[*.py]
indent_size = 4

[*.{html,css,yml},Dockerfile]
indent_size = 2

[Makefile]
indent_style = tab
